@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins" !important;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    margin-top: 70px;
    max-height: 80vh;
    /* change this to whatever you want */
    width: auto;
    object-fit: cover;
}

.mobile-menu {
    padding-top: 20px !important;
    border-radius: 20px;
}

.active {
    color: #183A64 !important;
}

.active-mobile {
    background-color: #1E6B20;
    padding: 10px;
    width: 92%;
    padding-block: 20px;
    color: white !important;
    text-align: center;
    margin-bottom: -10px;
    margin-top: -35px;
    border-radius: 10px;
    box-shadow: #183A64 inset;
    opacity: 50% !important;
}

.legend {
    background-color: #20B052 !important;
    font-size: 1.2rem !important;
    padding-inline: 20px !important;
}

.legend:hover {
    cursor: pointer;
}

.monitor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    height: 320px;
    width: 250px;
}

.monitor:hover {
    cursor: pointer;
}

.icon-stats {
    height: 160px;
    width: auto;
}

.parameter {
    font-weight: 500;
    font-size: 20px;
    color: #183A64;
}

.value {
    font-weight: 700;
    font-size: 32px;
    color: #183A64;
    margin-top: -16px;
}

@media screen and (max-width: 768px) {
    .statistic-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 16px;
    }

    .weekly-wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        padding-inline: 32px !important;
    }

    .weekly-container {
        width: 90vw !important;
    }

    .monitor {
        /* margin-left: -24px; */
        width: 90vw !important;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column;
        border-radius: 20px;
    }

    .weekly-bottom {
        display: flex;
        flex-direction: column !important;
        padding-inline: 12px;
    }


    .weekly-bottom img {
        width: 400px;
    }
}

.weekly-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.monitoring-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 60px;
    margin-top: 30px;
}

.weekly-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statistic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-inline: 200px; */
}

.head-title {
    text-align: center;
    font-weight: 600;
    color: #183A64;
}

.weekly-container {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    border-radius: 20px;
    justify-content: center;
    gap: 16px;
}

.short-desc {
    font-size: 1.2rem;
    color: #183A64;
    font-weight: 500;
}

.bold {
    color: #183A64;
}

.about-hidropol {
    font-size: 16px;
    text-align: justify;
}

.tips-card {
    background-color: #E6E6E6;
    margin: 20px;
    height: auto;
    padding-block: 20px;
    border-radius: 20px;
    padding-inline: 36px;
    padding-bottom: 30px;
}